<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
        }
        </style>
    <title>Location Edit</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="sidenav-trigger"><i class="material-icons left">menu</i></a>
            <ul class="right">
                <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                <li><a href="/locations"><i class="material-symbols-outlined">density_small</i>  Locations</a></li>
                <li><a href="/finances"><i class="material-symbols-outlined">density_small</i>  Finances</a></li>
                <li><a href="/schedule"><i class="material-symbols-outlined">density_small</i>  Schedule</a></li>
            </ul>
        </div>
    </nav>
    <div class="center-align">
        <h1>Location</h1>
    </div>

    <div class="container">
        <table>
            
            <tr>
                <th>Location Name</th>
                <td><%= locDet.loc_name %></td>
            </tr>

            <tr>
                <th>Location Town</th>
                <td><%= locDet.loc_town %></td>
            </tr>

            <tr>
                <th>Description</th>
                <td><%= locDet.loc_desc %></td>
            </tr>

        </table>
    </div>
    
    <div class="section container" id="controls">

        <a class="btn-large waves-effect waves-light green left modal-trigger" href="#edit">
            <i class="material-icons right">edit</i>Edit</a>

        <a class="btn-large waves-effect waves-light red right" href="/location/detail/<%=locDet.loc_id%>/delete">
            <i class="material-icons right">delete</i>Delete</a>

    </div>

    <div class="modal" id="edit">
        <div class="modal-content">
            <h3>Edit item</h3>
            <form id="updateForm">
                <div class="row">
                    <div class="input-field col s8">
                        <input type="text" id="titleInput" name="title" class="validate" data-length="45" required value="<%= locDet.loc_name %>">
                            <label for="titleInput">Location Name:</label>
                    </div>
                

                <div class="input-field col s4">
                    <input type="text" id="townInput" name="town" class="validate" data-length="45" required value="<%= locDet.loc_town %>">
                    <label for="townInput">Town:</label>
                </div>

                <div class="input-field col s6">
                    <textarea class="materialize-textarea" id="descriptionInput" name="description" data-length="150"><%= locDet.loc_desc %></textarea>
                    <label for="descriptionInput">Description:</label>
                </div>
                
            </form>

            <div class="modal-footer">
                <button class="btn waves-effect waves-light " type="submit" form="updateForm">
                    <i class="material-icons right">send</i>
                    Update
                </button>
                <button class="modal-close waves-effect waves-green btn-flat" >Cancel</button>
            </div>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    //This parts from chatgpt
    <script>
        function updateLocation() {
            // Get the updated values from the form
            const updatedName = document.getElementById('titleInput').value;
            const updatedTown = document.getElementById('townInput').value;
            const updatedDescription = document.getElementById('descriptionInput').value;
    
            const updateData = {
                loc_name: updatedName,
                loc_town: updatedTown,
                loc_desc: updatedDescription
            };

            const getLocId = locDet.loc_id
            const updateUrl = `/locations/detail/${getLocId}`;
    
            // Make an AJAX request to update the data on the server
            fetch(updateUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(updateData),
            })
            .then(response => response.json())
            .then(data => {
                // Handle the server response as needed
                console.log('Server response:', data);
    
                // Close the modal after successful update
                M.Modal.getInstance(document.getElementById('edit')).close();
            })
            .catch(error => {
                console.error('Error updating location:', error);
                // Handle error scenarios
            });
        }
    </script>
    <script> M.AutoInit();</script>
    </body>
    </html>