<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
        }
        </style>
    <title>Schedule</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <!-- Nav bar -->
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="sidenav-trigger"><i class="material-icons left">menu</i></a>
            <ul class="right">
                <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                <li><a href="/locations"><i class="material-symbols-outlined">density_small</i>  Locations</a></li>
                <li><a href="/finances"><i class="material-symbols-outlined">density_small</i>  Finances</a></li>
                <li><a href="/schedule"><i class="material-symbols-outlined">density_small</i>  Schedule</a></li>
            </ul>
        </div>
    </nav>

    <!-- Schedule -->
    <div class="container">
        <h1>Weekly Schedule!</h1>
        <table>
            <thead>
                <tr>
                    <th>Session Name</th>
                    <th>Location</th>
                </tr>
            </thead>

            <tbody>
                <% for (let i = 0; i < sesList.length; i++) { %>
                    <tr>
                        <td><%= sesList[i].ses_name %></td>
                        <td><%= sesList[i].loc_name %></td>
                        <td>
                            <a class="btn-large waves-effect waves-light green left modal-trigger" href="/schedule/session/detail/<%=sesList[i].ses_id%>">
                                <i class="material-icons right">edit</i>Details
                            </a>
       
                    
                            <a class="btn-large waves-effect waves-light red right" href="/schedule/session/detail/<%=sesList[i].ses_id%>/delete">
                                <i class="material-icons right">delete</i>Delete</a>
                        </td>
                    </tr>

                    <!-- <% if (i === 0) { %>
                        <script>
                            console.log('Generated link for the first item:', "/schedule/session/detail/<%=sesList[0].ses_id%>");
                        </script>
                    <% } %> -->
                    <% } %>
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
    <script>M.AutoInit();</script>
</body>
</html>